body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  position: relative;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

input[type="url"] {
  width: 85%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.wait-message {
  display: none;
  margin-top: 15px;
  color: #007bff;
}
.g-recaptcha {
  margin-left: 50px;
}

.progress-bar {
  width: 100%;
  background-color: #dae7ff;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}

.progress-bar-fill {
  height: 20px;
  width: 0;
  background-color: #007bff;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  color: rgb(13, 255, 0);
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.terms {
  text-align: left;
  background: #fff;
  padding: 85px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 900px;
  position: relative;
}
.footer {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  /* Ensure the footer spans the full width of the page */
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
}
